{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>لیست کلاس‌ها</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script>
        function redirectToPage(url) {
            window.location.href = url;
        }

        function deleteClass(classId) {
            if (confirm('آیا مطمئن هستید که می‌خواهید این کلاس را حذف کنید؟')) {
                fetch(`/update_class/${classId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}',
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.reload();  // صفحه را دوباره بارگذاری می‌کند تا تغییرات نمایش داده شوند
                        } else {
                            alert('خطا در حذف کلاس');
                        }
                    });
            }
        }
    </script>
</head>
<body id="bala">
<header>
    <div class="div-blue">
        <!-- کادر آبی بالا -->
        <img class="khomeini" src="{% static 'img/emam2.png' %}"
             onclick="redirectToPage('{% url 'list_classes_view_name' %}')">
        <img class="agha" src="{% static 'img/agha1.png' %}"
             onclick="redirectToPage('{% url 'create_class_view_name' %}')">
        <img class="logo_h" src="{% static 'img/logo_h.png' %}"
             onclick="redirectToPage('{% url 'list' %}')">
        <img class="masjed_logo" src="{% static 'img/masjed_logo.png' %}"
             onclick="redirectToPage('{% url 'register_class_name' %}')">
    </div>
</header>
<br>
<br>
<div class="serceh_list">
    <form method="get" action="{% url 'list_classes_view_name' %}">
        {% csrf_token %}
        <label for="class_name_search">نام کلاس: </label>
        <input autocomplete="off" id="class_name_search" name="class_name_search"
               value="{{ request.GET.class_name_search }}">
        <button style="transition: all 1s; margin-top: 10px;" type="submit">جستجو</button>
    </form>
</div>

<div class="table-container-wrapper">
    <table class="table-container">
        <thead class="hd_fix">
        <tr>
            <th>نام کلاس</th>
            <th>هزینه کلاس</th>
            <th>عملیات</th>
        </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td>{{ class.class_name }}</td>
                <td>{{ class.class_cost }} تومان</td>
                <td>
                    <a href="{% url 'update_class_view_name' class.id %}" class="btn-test">ویرایش</a>
                    <button class="btn-delete" onclick="deleteClass({{ class.id }})" style="
    transition: all 1s;
    border: 2px solid #dc3545; /* تغییر به قرمز */
    background-color: white;
    color: #dc3545; /* تغییر به قرمز */
    text-decoration: none;
    padding: 4px 8px;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 16px; /* تنظیم سایز فونت */
"
                            onmouseover="this.style.backgroundColor='#dc3545';this.style.color='#ffffff';this.style.borderTopRightRadius='0px';this.style.borderBottomLeftRadius='0px';this.style.borderTopLeftRadius='20px';this.style.borderBottomRightRadius='20px';"
                            onmouseout="this.style.backgroundColor='white';this.style.color='#dc3545';this.style.borderTopRightRadius='20px';this.style.borderBottomLeftRadius='20px';this.style.borderTopLeftRadius='0px';this.style.borderBottomRightRadius='0px';">
                        حذف
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="a_up" href="#bala">
        <div class="btn_top"><img src="{% static 'img/up.png' %}" alt="بالا"></div>
    </a>
</div>
</body>
</html>